<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACNLP Demo</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type="text/css" href="/stylesheets/about.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/highcharts.js"></script>
</head>

<body>
<!--页眉-->
	<div class="head-wrap">
        <div class="head">
            <div class="head-brand"></div>
	        <ul class="nav head-nav">
	            <li><img src="/images/home.png" class="head_nav_img"><a href="/">首页</a></li>
	            <li ><img src="/images/product.png" class="head_nav_img"><a href="#">产品</a></li>
	            <li><img src="/images/title.png" class="head_nav_img"><a href="/api">文档</a></li>
	            <li><img src="/images/demo.png" class="head_nav_img"><a href="/demo">演示</a></li>
	            <li><img src="/images/robot.png" class="head_nav_img"><a href="http://autobot.acnlp.com:3000">智能客服</a></li>
	            <li class="active"><img src="/images/about-click.png" class="head_nav_img"><a href="#">关于</a></li>
	        </ul>
        </div>
    </div>
	<!--容器-->
	<div class="container">
	    <ol class="breadcrumb">
		  <li>您现在的位置:  &nbsp;<a href="/">首页</a></li>
		  <li class="active">关于</li>
		</ol>
		<h2>我们是谁</h2>
		<p class="p1">	ACNLP平台提供使用简单、功能强大、性能可靠的中文自然语言分析云服务。</br>
			互联网时代信息无处不在，我们日常所接触的大量信息例如微博、社交媒体网站的帖子、消费者点评、新闻、销售人员的拜访记录以及可以转换成文本的语音内容，这些都是常见的非结构化数据来源。</br>
			根据2011年IDC的调查，非结构化数据将占未来十年所创造数据的90%。作为一个尚未得到充分开发的信息源，非结构化数据分析可以揭示之前很难或无法确定的重要相互关系。</br>
			非结构化数据分析能够揭示潜藏在文本当中的趋势和关联，为商业决策、研究行业趋势和热点内容分析提供有力支持。</br>
			ACNLP团队致力于打造最出色的中文语义分析技术，通过自主研发的关键词提取、词性标记、情感分析、相似性推荐、自动文摘和自动文档分类，结合海量行业语料的不断积累，为企业和广大开发者提供简单、强大、可靠的中文语义分析云端API。
		</p>
		<h2>我们做什么</h2>
		<h4 class="h4">“从海量文本挖掘商业价值” </h4>
		<ul class="ul1">
			<li><img src="/images/about-1.png">
				<h4 class="li-h4">开放语义API </h4>
				<p>标准化的语义分析云服务，无需本 地安装，30秒注册即可试用。 </p>
			</li>
			<li><img src="/images/about-2.png">
				<h4 class="li-h4">语义分析解决方案</h4>
				<p>面向客户的垂直行业数据分析解决 方案，利用ACNLP强大的基础数据和 技术积累，快速制定个性化的分析 解决方案。  </p>
			</li>
		</ul>
		<h3>联系我们</h3>
		<p style="font-size: 16px;">联系我们 欢迎联系洽谈语义API、分析解决方案的合作事宜，我们也非常期待与企业、开发者和高校合作研发中文语义分析产品。</p>
		<ul class="ul2">
			<li>
				<h5>商务合作:</h5>
				<p>吴先生 </br>
					wuanch@gmail.com <br />
					<img src="/images/tel-1.png"/>
					</p>
			</li>
			<li>
				<h5>技术支持:</h5>
				<p>袁先生<br />
					yuanhao_123@163.com
					<!--QQ群： --></p>
			</li>
			<li>
				<h5>媒体合作:</h5>
				<p>邹先生<br />
					jingenzou@gmail.com <br />
					<img src="/images/tel-2.png"/>
					</p>
			</li>
			<!--<li>
				<h5>公司地址:</h5>
				<p>上海市安福路288号12楼</p>
			</li>-->
		</ul>
	</div>
	<!--页脚-->
	<div class="blog-footer">
	    <p>ACNLP</p>
	</div>
</body>
</html>
