<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACNLP Demo</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type="text/css" href="/stylesheets/product.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/highcharts.js"></script>
</head>

<body>
<!--页眉-->
	<div class="head-wrap">
        <div class="head">
            <div class="head-brand"></div>
	        <ul class="nav head-nav">
				<li><img src="/images/home.png" class="head_nav_img"><a href="/">首页</a></li>
				<li class="active"><img src="/images/product-click.png"class="head_nav_img"><a href="/product">产品</a></li>
				<li><img src="/images/title.png" class="head_nav_img"><a href="/api">文档</a></li>
				<li><img src="/images/demo.png" class="head_nav_img"><a href="/demo">演示</a></li>
				<li><img src="/images/robot.png" class="head_nav_img"><a href="http://autobot.acnlp.com:3000">智能对话</a></li>
				<li><img src="/images/about.png" class="head_nav_img"><a href="/about">关于</a></li>

	        </ul>
        </div>
    </div>
	<!--容器-->
	<div class="container">
		<ol class="breadcrumb">
		    <li>您现在的位置:  &nbsp;<a href="/">首页</a></li>
		    <li class="active">产品</li>
		</ol>
	    <div class="abstract1">
			<img src="/images/product-1.png" />
			<div class = "description1">
				<h3>自动文摘 &nbsp;&nbsp;<small>Automatic Abstract ：</small></h3>
			  	<p>从原始文献中自动准确地提取精髓表达，大量减少人工阅读及采编量， 适用于报刊杂志、新闻社，图书馆的文章编纂采集等工作。</p>
			</div>
		</div>
		<div class="abstract2">
			<div class = "description2">
				<h3>自动分类 &nbsp;&nbsp;<small>Automatic Classification ：</small></h3>
			  	<p>根据文章内容特性进行自动分属归类， 适用于报刊杂志、新闻社，图书馆的文章分类存档，收纳等工作。</p>
			</div>
			<img src="/images/product-2.png" />
		</div>
		<div class="abstract1">
			<img src="/images/product-3.png" />
			<div class = "description1">
				<h3>相似推荐 &nbsp;&nbsp;<small>Text Similarity ：</small></h3>
			  	<p>将受众真正关心的文章进行相似性归类，并做出个性化推荐，最大程度地保证推送的精准度。适用于企业、自媒体人、网络营销人等进行的广告</p>
			</div>
			
		</div>
		<div class="abstract3">
			<img src="/images/product-4.png" />
			<div class = "description3">
				<h3>智能对话 &nbsp;&nbsp;<small>Intelligent Dialogue ：</small></h3>
			  	<p>从原始文献中自动准确地提取精髓表达，大量减少人工阅读及采编量， 适用于报刊杂志、新闻社，图书馆的文章编纂采集等工作。</p>
			</div>
		</div>
		<div class="abstract1">
			<img src="/images/product-5.png" />
			<div class = "description1">
				<h3>情感分析 &nbsp;&nbsp;<small>Emotion Analysis：</small></h3>
			  	<p>透过现象看本质，从文章及会话中挖掘出深层次的感情色彩及内在涵义，满足人们普遍心理和情感需求，逐步建立信任和依赖感，提供更好的情</p>
			</div>
		</div>
	</div>
	<!--页脚-->
	<div class="blog-footer">
	    <p>ACNLP</p>
	</div>
</body>
</html>
