/*
 * Globals
 */

body {
    color: rgb(89,89,89);
	height: 100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 980px;
        padding: 0;
    }
}


/*
 * Header
 */
.head-wrap {
    width: 100%;
    background-color: rgb(102,102,102);
}

.head {
    width: 980px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.head-brand {
    width: 120px;
    height: 46px;
    margin: 4px 0 0 0;
    float: left;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}

.head-nav {
    height: 100%;
    float: right;
    top: 10px;
}

.head-nav > li {
    height: 100%;
    display: inline-block;
    margin-left: 20px;
    top: 10px;
    
}
.head_nav_img{
	margin-left: 10px;
	margin-top: -3px;
}
.head-nav > li > a {
    padding: 0;
    font-size: 16px;
    color: #fff;
    outline: none;
    position: relative;
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 100;
}

.head-nav > li > a:hover,
.head-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.head-nav > .active > a {
    color: rgb(120,191,235);
}

.head-nav > .active:after{
	border-bottom:7px solid rgb(255, 255, 255);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
   	top: 34px;
    content: " ";
    position: absolute;
    margin-left: -40px;
}
/*
 * content
 */
.breadcrumb{
	background-color: #fff;
	padding: 20px 0 0 0;
}
h2{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.container .p1{
	font-size:16px ;
	line-height: 30px;
}
.h4{
	margin-top: -15px;
	text-align: center;
	color: rgb(122,181,235);
	margin-bottom: 40px;
}
.container .ul1{
	list-style: none;
	margin-left: -40px;
	
}
.container .ul1 li{
	width: 50%;
	float: left;
	margin-bottom: 50px;
}
.container .ul1 .li-h4{
	margin-top: -70px;
    margin-left: 100px;
}
.container .ul1 p{
	width: 200px;
	margin-left: 100px;

}

.container .ul2{
	list-style: none;
	margin-top: 40px;
    margin-left: -40px;
}
.container .ul2 h5{
	color: rgb(122,181,235);
}
.container .ul2 li{
	width: 50%;
	float: left;
	height: 135px;
}
/*
 * Footer
 */

.blog-footer {
    color: #FFF;
    background-color:rgb(102,102,102) ;
    text-align: center;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    
    
}
.blog-footer p:last-child {
    margin-bottom: 0;
}