/*
 * Globals
 */

body {
    color: rgb(89,89,89);
	height: 100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 980px;
        padding: 0;
    }
}


/*
 * Header
 */
.head-wrap {
    width: 100%;
    background-color: rgb(102,102,102);
}

.head {
    width: 980px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.head-brand {
    width: 120px;
    height: 46px;
    margin: 4px 0 0 0;
    float: left;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}

.head-nav {
    height: 100%;
    float: right;
    top: 10px;
}

.head-nav > li {
    height: 100%;
    display: inline-block;
    margin-left: 20px;
    top: 10px;
    
}
.head_nav_img{
	margin-left: 10px;
	margin-top: -3px;
}
.head-nav > li > a {
    padding: 0;
    font-size: 16px;
    color: #fff;
    outline: none;
    position: relative;
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 100;
}

.head-nav > li > a:hover,
.head-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.head-nav > .active > a {
    color: rgb(120,191,235);
}

.head-nav > .active:after{
	border-bottom:7px solid rgb(255, 255, 255);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
   	top: 33px;
    content: " ";
    position: absolute;
    margin-left: -40px;
}

/*内容*/
.breadcrumb{
	background-color: #fff;
	padding: 20px 0 0 0;
}
.container .abstract1{
	height: 370px;
	border-bottom:1px solid rgb(217,217,217) ;
}
.container small{
	color: #000000;
}
.abstract1 img{
	margin: 65px 0 0 70px;
	width: 360;
	height: 225px;
}

.abstract1 .description1{
	position: relative;
	width: 490px;
    top: -150px;
    left: 465px;
    color: rgb(142,142,142);
}

.container .abstract2{
	height: 370px;
	border-bottom:1px solid rgb(217,217,217) ;
}
.abstract2 img{
	margin: -15px 0 0 600px;
	width: 360;
	height: 225px;
}

.abstract2 .description2{
	position: relative;
	width: 490px;
    top: 140px;
    left: 60px;
    color: rgb(142,142,142);
}

.container .abstract3{
	height: 370px;
	border-bottom:1px solid rgb(217,217,217) ;
}
.abstract3 img{
	margin: 50px 0 0 600px;
	width: 360;
	height: 225px;
}

.abstract3 .description3{
	position: relative;
	width: 490px;
    top: -160px;
    left: 40px;
    color: rgb(142,142,142);
}

/*
 * Footer
 */

.blog-footer {
    color: #FFF;
    background-color:rgb(102,102,102) ;
    text-align: center;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    
    
}
.blog-footer p:last-child {
    margin-bottom: 0;
    margin: 0;
}




















